<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/allcountrys">allcountrys</a>
    
    <h1>Confirmed <%= world.TotalConfirmed %></h1>
    <h1> Total Deaths <%= world.TotalDeaths %></h1>
    <h1>Total Recovered <%= world.TotalRecovered %></h1>

    <form action="/getCountryRes" method="GET">
        <label>country</label>
        <input type="text" name="country" > 
        <label>date1</label>
        <input type="date" name="date1">
        <label>date2</label>
        <input type="date" name="date2">
        <button>ok</button>
    </form>
    
</body>
</html>